@page "/products/create"
@using Microsoft.EntityFrameworkCore
@using LiteTe.Data
@rendermode InteractiveServer
@inject IDbContextFactory<LiteTe.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Добавление товара</PageTitle>

<h1>Добавить</h1>

<h2>Товар</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Product" OnValidSubmit="AddProduct" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="productname" class="form-label">Имя товара:</label> 
                <InputText id="productname" @bind-Value="Product.ProductName" class="form-control" /> 
                <ValidationMessage For="() => Product.ProductName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Описание:</label> 
                <InputText id="description" @bind-Value="Product.Description" class="form-control" /> 
                <ValidationMessage For="() => Product.Description" class="text-danger" /> 
            </div> 
            @*для списка выпадающего*@
            <div class="mb-3">
                <label for="manufacturerid" class="form-label">Производитель:</label>
                <InputSelect id="manufacturerid" @bind-Value="Product.ManufacturerId" class="form-control">
                    <option value="">Выберите производителя</option>
                    @foreach (var manufacturer in manufacturers) @*для каждого элемента БД*@
                    {
                        <option value="@manufacturer.ManufacturerId">@manufacturer.ManufacturerName</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Product.ManufacturerId" class="text-danger" /> @*обязательный выбор*@
            </div>

            <div class="mb-3">
                <label for="categoryid" class="form-label">Категория:</label>
                <InputSelect id="categoryid" @bind-Value="Product.CategoryId" class="form-control">
                    <option value="">Выберите категорию</option>
                    @foreach (var category in categories)
                    {
                        <option value="@category.CategoryId">@category.CategoryName</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Product.CategoryId" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="supplierid" class="form-label">Поставщик:</label>
                <InputSelect id="supplierid" @bind-Value="Product.SupplierId" class="form-control">
                    <option value="">Выберите поставщика</option>
                    @foreach (var supplier in suppliers)
                    {
                        <option value="@supplier.SupplierId">@supplier.SupplierName</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => Product.SupplierId" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price:</label> 
                <InputNumber id="price" @bind-Value="Product.Price" class="form-control" /> 
                <ValidationMessage For="() => Product.Price" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="productimage" class="form-label">Путь к изображению:</label> 
                <InputText id="productimage" @bind-Value="Product.ProductImage" class="form-control" /> 
                <ValidationMessage For="() => Product.ProductImage" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Добавить</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/products?CategoryId=@CategoryId">Вернуться к товарам</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int? CategoryId { get; set; }
    [SupplyParameterFromForm]
   @* private Product Product { get; set; } = default!;*@
   @*проблемный момент, исправлен*@
    private Product Product { get; set; } = new Product();

    // для списков выпадающих
    private List<Manufacturer> manufacturers = new();
    private List<Category> categories = new();
    private List<Supplier> suppliers = new();

  protected override async Task OnInitializedAsync ()
    {
        using var context = DbFactory.CreateDbContext();

        if (CategoryId == null)
        {
            NavigationManager.NavigateTo("not found");
        }
        //
        Product.CategoryId = CategoryId.Value;

        //при загрузке чтобы подгружались спискм
        manufacturers = await context.Manufacturers.ToListAsync();
        categories = await context.Categories.ToListAsync();
        suppliers = await context.Suppliers.ToListAsync();
        //
       

    } 

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddProduct()
    {
        using var context = DbFactory.CreateDbContext();
        context.Products.Add(Product);
        await context.SaveChangesAsync();
        Product.CategoryId = CategoryId ?? 0;
        NavigationManager.NavigateTo("/products?CategoryId="+CategoryId.ToString()); //переходим обратно после добавления
    }
}
@*для ввода катгиории айди без самого ввода*@
@* <input type="hidden" name="Product.CategoryId" @bind="Product.CategoryId"></> *@